body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}
main {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  line-height: 1.33em;
  color: rgba(255, 255, 255, 0.88);
  background-color: #f1f1f1;
  background-image: url(https://roman-flossler.github.io/StoryShowGallery/img/bg.png);
  background-blend-mode: multiply;
}

section {
  max-width: 880px;
  margin: auto;
  padding: 3vw;
  padding-bottom: 4.4rem;
}

section h2 {
  margin-top: 0;
  font-size: 66px;
  color: #8690a3;
  line-height: 1em;
  margin-bottom: 0.5em;
}

.faroeTexture {
  background-image: linear-gradient(to bottom, rgb(255, 255, 255) 10%, hsla(126, 14%, 86%, 0.822) 100%),
    url(https://www.faroeislands.io/visuals/bg/grass-texture.jpg);
  background-image: linear-gradient(to bottom, rgb(226 229 237 / 96%) 10%, hsl(33.23deg 14% 86% / 78%) 100%),
    url(https://www.faroeislands.io/visuals/bg/grass-texture.jpg);
  box-shadow: -6px 0px 39px #a9a384;
}

.info {
  background-color: #750015;
  margin: 0;
}
.info span::first-letter {
  font-size: 180%;
  font-family: serif;
}

.heading {
  margin: 0;
  background-color: rgb(47, 54, 63);
  text-align: center;
}

.heading h1 {
  font-size: 222%;
  color: rgb(255, 255, 255);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
}

.heading p {
  color: white;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.88);
}

.codeLink {
  color: black;
  text-align: center;
  margin-top: 3rem;
  text-shadow: 0 0 8px white, 0 0 18px white;
  font-size: 103%;
}

.codeLink a {
  color: #005075;
  text-decoration-style: solid;
  text-underline-offset: 3px;
}
.codeLink a:hover {
  text-decoration-style: wavy;
  text-underline-offset: 2px;
}

::-webkit-scrollbar {
  background: #046b8d;
  background: linear-gradient(rgb(165, 0, 55), rgb(0, 138, 180));
  width: 18px;
  border-left: 1px solid rgb(224, 224, 224);
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.75);
  background: linear-gradient(  rgb(224, 42, 103), rgb(87, 192, 224));
  background-size: 100%;
  margin-top: 6px;  
}

::-webkit-scrollbar-button {
  height: 20px;
  background: #242d30;
  color: white;
}

::-webkit-scrollbar-button:vertical:decrement {
  background: url(https://www.flor.cz/gridOverflow/src/arrow-top.png) no-repeat 3px 0;
}

::-webkit-scrollbar-button:vertical:increment {
  background: url(https://www.flor.cz/gridOverflow/src/arrow-bottom.png) no-repeat 3px 0;
}
